<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <UI Id="PyDeckInstallOptions">
      <!-- The higher-order navigation replaces the stock directory page only. -->
      <Publish Dialog="LicenseAgreementDlg" Control="Next" Event="NewDialog" Value="PyDeckInstallOptionsDlg" Order="2" Condition="LicenseAccepted = &quot;1&quot;" />
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="PyDeckInstallOptionsDlg" Order="3" Condition="NOT Installed" />
      <Dialog Id="PyDeckInstallOptionsDlg" Width="370" Height="270" Title="[ProductName] Setup">
        <Control Id="Heading" Type="Text" X="20" Y="16" Width="330" Height="22" Text="{\WixUI_Font_Bigger}Choose your installation options" />
        <Control Id="Intro" Type="Text" X="20" Y="48" Width="330" Height="30" Text="Install PyDeck for this Windows account. Choose a folder you can write to, then select the shortcuts you want." />
        <Control Id="FolderLabel" Type="Text" X="20" Y="86" Width="320" Height="12" Text="Installation &amp;folder:" />
        <Control Id="Folder" Type="PathEdit" X="20" Y="102" Width="255" Height="19" Property="INSTALLFOLDER" />
        <Control Id="Browse" Type="PushButton" X="283" Y="102" Width="67" Height="19" Text="&amp;Browse...">
          <Publish Event="DoAction" Value="PyDeckBrowseInstallFolder" Order="1" />
          <!-- Publish on the UI thread to synchronize PathEdit after the native action returns. -->
          <Publish Property="INSTALLFOLDER" Value="[INSTALLFOLDER]" Order="2" />
        </Control>
        <Control Id="DiskCost" Type="PushButton" X="283" Y="128" Width="67" Height="19" Text="Disk &amp;space...">
          <Publish Event="SpawnDialog" Value="DiskCostDlg" />
        </Control>
        <Control Id="DesktopShortcut" Type="CheckBox" X="20" Y="156" Width="310" Height="18" Property="DESKTOPSHORTCUT" CheckBoxValue="1" Text="Create a &amp;desktop shortcut" />
        <Control Id="StartMenuShortcut" Type="CheckBox" X="20" Y="183" Width="310" Height="18" Property="STARTMENUSHORTCUT" CheckBoxValue="1" Text="Add PyDeck to the &amp;Start menu" />
        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
        <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="&amp;Back">
          <Publish Event="NewDialog" Value="LicenseAgreementDlg" />
        </Control>
        <Control Id="Next" Type="PushButton" X="240" Y="243" Width="56" Height="17" Default="yes" Text="&amp;Next">
          <Publish Event="CheckTargetPath" Value="INSTALLFOLDER" Order="1" />
          <Publish Event="SetTargetPath" Value="INSTALLFOLDER" Order="2" />
          <Publish Event="NewDialog" Value="VerifyReadyDlg" Order="3" />
        </Control>
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="Cancel">
          <Publish Event="SpawnDialog" Value="CancelDlg" />
        </Control>
      </Dialog>
    </UI>
  </Fragment>
</Wix>
