#include <windows.h>
#include "resource.h"
#pragma code_page(65001)
IDI_SETUP ICON "../PimGui.App/Assets/AppIcon.ico"
IDR_LICENSE RCDATA "../../LICENSE"
IDD_SETUP DIALOGEX 0, 0, 510, 432
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "PyDeck Setup"
FONT 9, "Segoe UI"
BEGIN
    ICON IDI_SETUP, -1, 14, 14, 28, 28
    LTEXT "", IDC_HEADING, 54, 13, 334, 24
    PUSHBUTTON "", IDC_REMOVE, 396, 15, 100, 23
    LTEXT "", IDC_INTRO, 54, 40, 442, 22
    LTEXT "", IDC_FOLDER_LABEL, 14, 68, 482, 12
    EDITTEXT IDC_FOLDER, 14, 84, 390, 21, ES_AUTOHSCROLL
    PUSHBUTTON "", IDC_BROWSE, 412, 84, 84, 21
    AUTOCHECKBOX "", IDC_DESKTOP, 14, 112, 244, 18
    AUTOCHECKBOX "", IDC_START_MENU, 266, 112, 230, 18
    LTEXT "", IDC_STYLE_LABEL, 14, 143, 146, 15
    COMBOBOX IDC_STYLE, 166, 139, 330, 60, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT "", IDC_STYLE_HINT, 14, 168, 482, 24
    AUTOCHECKBOX "", IDC_ONLY, 14, 195, 482, 18
    GROUPBOX "", IDC_DEPENDENCIES, 14, 219, 482, 83
    LTEXT "", IDC_NET, 26, 237, 458, 16
    LTEXT "", IDC_RUNTIME, 26, 258, 458, 16
    LTEXT "", IDC_VC, 26, 279, 458, 16
    LTEXT "", IDC_NOTE, 14, 310, 482, 28
    LTEXT "", IDC_STATUS, 14, 341, 482, 32
    CONTROL "", IDC_PROGRESS, "msctls_progress32", 0x08, 14, 377, 482, 7
    COMBOBOX IDC_LANGUAGE, 14, 402, 89, 90, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON "", IDC_LICENSE, 109, 399, 67, 24
    PUSHBUTTON "", IDC_RECHECK, 182, 399, 67, 24
    PUSHBUTTON "", IDC_LOGS, 255, 399, 67, 24
    DEFPUSHBUTTON "", IDOK, 328, 399, 99, 24
    PUSHBUTTON "", IDC_LAUNCH, 328, 399, 99, 24
    PUSHBUTTON "", IDCANCEL, 433, 399, 63, 24
END
IDD_LICENSE DIALOGEX 0, 0, 470, 310
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "PyDeck - MIT License"
FONT 9, "Segoe UI"
BEGIN
    EDITTEXT IDC_LICENSE_TEXT, 14, 14, 442, 253, ES_MULTILINE | ES_READONLY | ES_AUTOVSCROLL | WS_VSCROLL
    DEFPUSHBUTTON "OK", IDOK, 390, 278, 66, 23
END
