#include <windows.h>
#include "resource.h"
#pragma code_page(65001)
IDI_SETUP ICON "../PimGui.App/Assets/AppIcon.ico"
IDD_SETUP DIALOGEX 0, 0, 438, 382
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "PyDeck Setup"
FONT 9, "Segoe UI"
BEGIN
    LTEXT "", IDC_INTRO, 14, 14, 410, 32
    LTEXT "", IDC_NET, 14, 52, 410, 20
    LTEXT "", IDC_RUNTIME, 14, 76, 410, 20
    LTEXT "", IDC_VC, 14, 100, 410, 20
    AUTOCHECKBOX "", IDC_ONLY, 14, 128, 410, 18
    LTEXT "", IDC_STYLE_LABEL, 14, 151, 410, 12
    COMBOBOX IDC_STYLE, 14, 168, 280, 60, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT "", IDC_STYLE_HINT, 14, 190, 410, 26
    LTEXT "", IDC_NOTE, 14, 222, 410, 46
    LTEXT "", IDC_STATUS, 14, 273, 410, 36
    CONTROL "", IDC_PROGRESS, "msctls_progress32", WS_BORDER | 0x08, 14, 315, 410, 9
    COMBOBOX IDC_LANGUAGE, 14, 348, 89, 90, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON "", IDC_RECHECK, 109, 345, 61, 24
    PUSHBUTTON "", IDC_LOGS, 176, 345, 64, 24
    DEFPUSHBUTTON "", IDOK, 246, 345, 105, 24
    PUSHBUTTON "", IDCANCEL, 357, 345, 67, 24
END
